<p style="color: green"><%= notice %></p>
<%= link_to "Back to recipes", recipes_path %>

<%= render @recipe %>

<div>
  <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %> |
  <%= button_to "Generate Shopping List" %>

  <%= button_to "Add Ingredients" %>
</div>
