<p style="color: green"><%= notice %></p>

<h1>Foods</h1>

<div id="foods">
<%= link_to "Add food", add_food_path %>
  <table id='foods_table'>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Measurement unit</th>
      <th>Price/unit</th>
      <th>Action</th>
    </tr>
    <% @foods.each do |food| %>
    <tr>
      <td><%= food.name%></td>
      <td><%= food.quantity%></td>
      <td><%= food.measurement_unit%></td>
      <td>$ <%= food.price%></td>
      <td><%= link_to "Delete", delete_food_path(food.id) %></td>
    </tr>
    <% end %>
  </table>

</div>

