<section>
  <% @food_table_data = [] %>
  <% @food_to_buy = 0 %>
  <% @total_food_value = 0 %>
  <% @foods.each do |food| %>
    <% @ingredient_quantity = @ingredients.where(food_id: food.id).sum(:quantity) %>
    <% if @ingredient_quantity >= food.quantity %>
      <% @quantity_diff = @ingredient_quantity - food.quantity %>
      <% @total_price = @quantity_diff * food.price %>
      <% @food_table_data.push([food.name, @quantity_diff, @total_price]) %>
      <% @food_to_buy += 1 %>
      <% @total_food_value += @total_price %>
    <% end %>
  <% end %>

<div class="tab-content d-flex justify-content-center">
  <div class="tab-pane fade show active border rounded p-5" style="width: 57%" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
    <h1 class="mb-5 text-center">Shopping List</h1>
    <p class="mb-5 text-center"><span>Ammount of food items to buy <%=@food_to_buy%>.</span>  <span>Total value of food needed $<%=@total_food_value%></span></p>

    <table id='foods_table' class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Food</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <%@food_table_data.each do |data|%>
          <tr>
            <td><%= data[0] %></td>
            <td><%= data[1] %></td>
            <td><%= data[2] %></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
</section>
